/* Variables */
:root {
	--main-red-color: #e4003a;
	--main-black-color: #292a2c;
}

b {
	font-weight: bold;
}
/* FONTS */
#content-holder p {
	font-size: 0.9rem;
}

#content-holder li {
	font-size: 0.9rem;
}

/* Make lists white on dark BG */
.ul-white ul {
	color: white !important;
}


/* Selection */
::-moz-selection {
	background: var(--main-red-color);
	color: white;
}

::selection {
	background: var(--main-red-color);
	color: white;
}

.footer a:hover {
	text-decoration: underline;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	font-size: 2rem !important;
}

#overlay-menu .overlay-menu-inner nav ul li .sub-menu a span {
	font-size: 16px !important;
}

#overlay-menu .overlay-menu-inner nav ul li.current_page_item a span {
	border-bottom-color: #353030 !important;
}
/* Ninja Forms Hide Progress Bar*/
.nf-saves-cont {
	display: none;
}

/* Ninja Forms Description Styles */
.label-right .nf-field-label {
	flex: 1;
}

.label-right .nf-field-description {
	flex: 2;
	margin-right: 0;
}

/* RIGHT MENU HACK*/
nav.standard.menu-right > li {
	display: none;
}

/* MOBILE MENU */
/* RESET */
#overlay-menu .overlay-menu-inner .sub-menu {
	height: 0px;
	padding: 0 !important;
	opacity: 0;
}
/* OPEN */
#overlay-menu .overlay-menu-inner .open {
	height: 100%;
	opacity: 1;
}
/* MOBILE */
@media screen and (max-width: 543px) {
	#content-holder .ce-button[data-align="left"] {
		text-align: center;
	}

	#content-holder h2 {
		font-size: 1.6666666666666667rem;
		line-height: 2.2222222222222223rem;
	}

	#content-holder h3 {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	#content-holder p {
		font-size: 0.7rem;
	}

	#content-holder span {
		font-size: 0.7rem;
	}

	#content-holder .ce-button[data-align="right"] {
		text-align: center;
	}
}
/* TABLET */
@media screen and (max-width: 767px) and (min-width: 544px) {
	#content-holder .ce-button[data-align="left"] {
		text-align: center;
	}

	#content-holder h2 {
		font-size: 1.8rem;
	}

	#content-holder h3 {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	#content-holder p {
		font-size: 0.8rem;
	}

	#content-holder span {
		font-size: 0.8rem;
	}

	#content-holder .ce-button[data-align="right"] {
		text-align: center;
	}
}
/* TABLET WIDE */
@media screen and (max-width: 991.98px) and (min-width: 768px) {
	#content-holder h2 {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	#content-holder h3 {
		font-size: 1.4rem;
		line-height: 2rem;
	}

	#content-holder p {
		font-size: 0.8rem;
	}

	#content-holder span {
		font-size: 0.8rem;
	}

	#content-holder li {
		font-size: 0.8rem;
	}
}
/* Desktop */
@media screen and (max-width: 1169.98px) and (min-width: 992px) {
	#content-holder h2 {
		font-size: 2.2222222222222223rem;
		line-height: 2.5rem;
	}

	#content-holder h3 {
		font-size: 1.6666666666666667rem;
		line-height: 2.2222222222222223rem;
	}
}
/* Desktop Wide */
@media screen and (min-width: 1169.98px) {
	#content-holder h2 {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	#content-holder h3 {
		font-size: 2rem;
		line-height: 2rem;
	}
}
/* Border */
header {
	border-right: 10px solid var(--main-red-color);
	border-left: 10px solid var(--main-red-color);
	border-top: 10px solid var(--main-red-color);
}

.transition-wrap {
	border-right: 10px solid var(--main-red-color);
	border-left: 10px solid var(--main-red-color);
	border-bottom: 10px solid var(--main-red-color);
}

div#overlay-menu {
	border: 10px solid var(--main-red-color);
}

div#overlay-menu header {
	border: 0;
}

#content .masonry .masonry-item img, #content-holder .masonry .masonry-item img {
	filter: brightness(85%);
}
/* Sticky Footer */
.sections {
	position: relative;
	z-index: 1;
	background: white;
}

#content-holder .footer {
	position: sticky;
	bottom: 0;
}

.standard .menu-item {
	position: relative;
}
/* Main Styling for Subnav */
/* First Children of Menu */
.standard .menu > .menu-item {
	margin-right: 5.7777777777778rem;
}
/* Make all the nav items underline the same width */
.navbar-inner nav ul li a span {
	display: flex;
	width: 85px;
	justify-content: center;
}
/* Move the Menu Item right left to the logo closer to the logo */
.menu-left .menu > li:last-child {
	margin-right: 45px !important;
}

.standard .menu-item a {
	padding: 0 !important;
}

.standard .sub-menu {
	position: absolute !important;
	background: #FFF !important;
	height: auto !important;
	width: 230px !important;
	padding: 20px 14px !important;
	border-radius: 0.3rem !important;
	box-shadow: 0 2px 6px rgba(13,23,75,.25);
	justify-content: center !important;
	opacity: 0 !important;
	transition: opacity .4s,visibility .4s;
	display: block !important;
	left: 50% !important;
	top: 26px !important;
	transform: translateX(-50%) !important;
	margin-top: 20px !important;
	z-index: 0 !important;
	visibility: hidden;
	margin-top: 0px !important;
}
/* Subnav Reveal Effects */
.standard .menu-item:hover .sub-menu {
	opacity: 1 !important;
	margin-top: 0px !important;
	z-index: 5 !important;
	visibility: visible;
}
/* First Children of Sub Menu */
.standard .sub-menu > .menu-item {
	padding: 0;
	-webkit-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: -webkit-transform 0s;
	transition: -webkit-transform 0s;
	-o-transition: -o-transform 0s;
	transition: transform 0s;
	transition: transform 0s,-webkit-transform 0s,-o-transform 0s;
	-webkit-transition-delay: .4s;
	-o-transition-delay: .4s;
	transition-delay: .4s;
}

.standard .menu > .menu-item:hover > .sub-menu > .menu-item {
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	-o-transition: -o-transform .4s;
	transition: transform .4s;
	transition: transform .4s,-webkit-transform .4s,-o-transform .4s;
}
/* Subnav List Item Spacing */
.standard .sub-menu li {
	margin-bottom: 0.5rem !important;
}

.standard .sub-menu li:last-child {
	margin-bottom: 0px !important;
}
/* Subnav List Item Styling */
.standard .sub-menu li a span {
	color: var(--main-black-color);
	font-size: 0.8333333333333334rem !important;
	width: 100% !important;
	display: block !important;
	text-align: left !important;
	font-weight: 700;
	border-bottom: none !important;
	padding: 0.5rem !important;
	border-radius: 0.2rem !important;
}
/* Subnav List Item Hover Effects */
.standard .sub-menu li:hover a span {
	background-color: rgba(228,0,58,0.71) !important;
	color: black !important;
}
/* Overlay Menu Subnav Spacing */
#overlay-menu .sub-menu {
	padding: 10px !important;
}
/* Overlay Menu Subnav Item Styling */
#overlay-menu .sub-menu li a span {
	color: #222 !important;
	font-size: 16px !important;
	width: 100% !important;
	display: block !important;
	text-align: center !important;
}
/* Overlay Menu Subnav Item Hover Effects */
#overlay-menu .sub-menu li a span {
	color: #000 !important;
}
/* NAV Media Queries */
@media screen and (min-width: 1400px) {
	.semplice-navbar [data-nav=logo-left-menu-right] .hamburger,.semplice-navbar [data-nav=logo-left-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-right] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-stacked] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-sides] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-corners] .hamburger {
		display: none;
	}
}

@media screen and (min-width: 1200px) and (max-width:1399.98px) {
	.semplice-navbar [data-nav=logo-left-menu-right] .hamburger,.semplice-navbar [data-nav=logo-left-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-right] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-stacked] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-sides] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-corners] .hamburger {
		display: none;
	}
}

@media screen and (min-width: 1px) and (max-width:1199.98px) {
	.semplice-navbar [data-nav=logo-left-menu-right] .hamburger,.semplice-navbar [data-nav=logo-left-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-left] .hamburger,.semplice-navbar [data-nav=logo-right-menu-right] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-stacked] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-sides] .hamburger,.semplice-navbar [data-nav=logo-middle-menu-corners] .hamburger {
		display: block;
	}
}

@media screen and (min-width: 1400px) {
	.semplice-navbar [data-nav=logo-left-menu-right] nav,.semplice-navbar [data-nav=logo-left-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-right] nav,.semplice-navbar [data-nav=logo-middle-menu-stacked] nav,.semplice-navbar [data-nav=logo-middle-menu-sides] nav,.semplice-navbar [data-nav=logo-middle-menu-corners] nav {
		display: block;
	}
}

@media screen and (min-width: 1200px) and (max-width:1399.98px) {
	.semplice-navbar [data-nav=logo-left-menu-right] nav,.semplice-navbar [data-nav=logo-left-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-right] nav,.semplice-navbar [data-nav=logo-middle-menu-stacked] nav,.semplice-navbar [data-nav=logo-middle-menu-sides] nav,.semplice-navbar [data-nav=logo-middle-menu-corners] nav {
		display: block;
	}
}

@media screen and (min-width: 1px) and (max-width:1199.98px) {
	.semplice-navbar [data-nav=logo-left-menu-right] nav,.semplice-navbar [data-nav=logo-left-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-left] nav,.semplice-navbar [data-nav=logo-right-menu-right] nav,.semplice-navbar [data-nav=logo-middle-menu-stacked] nav,.semplice-navbar [data-nav=logo-middle-menu-sides] nav,.semplice-navbar [data-nav=logo-middle-menu-corners] nav {
		display: none;
	}
}

@media screen and (min-width: 991px) and (max-width:1199.98px) {
	.logo {
		position: absolute !important;
	}
}

@media screen and (min-width: 1px) and (max-width:990.98px) {
	.is-frontend [data-mobile-fallback=enabled] [data-nav=logo-middle-menu-sides] .logo {
		padding-left: 5rem !important;
	}
}